Repository hotomoe/hotomoe, pull requests merged in 2024-06, with the labels that each got.

#24 fix(test): lint & e2e test
  packages/backend/test/e2e/users.ts
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/pages/admin/overview.stats.vue
  packages/frontend/src/scripts/get-note-menu.ts
Labels: packages/frontend, packages/backend, packages/backend:test

#25 style: remove Misskey.io 500,000 special entrance page
  packages/frontend/src/pages/welcome.vue
Labels: packages/frontend

#26 bump version
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#28 Revert "表示言語が設定されてない場合、ブラウザの言語と関係なく日本語にする (MisskeyIO#175)"
  packages/backend/src/server/web/boot.js
  packages/frontend/src/config.ts
  packages/sw/src/scripts/lang.ts
Labels: packages/frontend, packages/backend, packages/sw

#29 chore: bump version to 2024.5.0-hotomoe.1
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#30 fix(chart): forgot to add "not"
  package.json
  packages/backend/src/core/chart/charts/users.ts
  packages/misskey-js/package.json
Labels: packages/backend, packages/misskey-js

#31 release: v2024.5.0-hotomoe.3
  package.json
  packages/backend/src/server/api/endpoints/federation/instances.ts
  packages/backend/src/server/api/endpoints/federation/show-instance.ts
  packages/frontend/src/components/MkInstanceStats.vue
  packages/frontend/src/pages/about.vue
  packages/frontend/src/pages/admin-user.vue
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/pages/welcome.entrance.a.vue
  packages/frontend/src/ui/_common_/common.ts
  packages/frontend/src/ui/_common_/navbar-for-mobile.vue
  packages/misskey-js/package.json
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#33 fix(navbar-for-mobile): uwu logo is too big
  packages/frontend/src/ui/_common_/navbar-for-mobile.vue
Labels: packages/frontend
