Repository hotomoe/hotomoe, pull requests merged in 2024-09, with the labels that each got.

#44 디지털 시계 위젯에서 세계 시각을 표시할 때 올바른 offset을 사용
  package.json
  packages/frontend/src/scripts/timezones.ts
  pnpm-lock.yaml
Labels: packages/frontend

#45 feat!(search): search document re-indexing
  packages/backend/src/core/AntennaService.ts
  packages/backend/src/core/QueueService.ts
  packages/backend/src/core/SearchService.ts
  packages/backend/src/queue/QueueProcessorModule.ts
  packages/backend/src/queue/QueueProcessorService.ts
  packages/backend/src/queue/processors/ReindexNotesProcessorService.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/admin/reindex-search.ts
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js, BREAKING

#46 release: 2024.5.0-hotomoe.7
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  package.json
  packages/backend/src/core/QueueService.ts
  packages/frontend/src/components/MkNewPassword.vue
  packages/misskey-js/package.json
Labels: packages/frontend, packages/backend, packages/misskey-js
