Repository hotomoe/hotomoe, pull requests merged in 2024-10, with the labels that each got.

#50 fix: antenna filter not handling protected notes
  packages/backend/src/core/AntennaService.ts
Labels: packages/backend, bug

#51 feat: use CacheService.userFollowingCache in AntennaService
  packages/backend/src/core/AntennaService.ts
Labels: packages/backend, feature

#53 release: 2024.5.0-hotomoe.8b
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  package.json
  packages/frontend/src/_boot_.ts
  packages/frontend/src/account.ts
  packages/frontend/src/components/MkAuthConfirm.stories.impl.ts
  packages/frontend/src/components/MkAuthConfirm.vue
  packages/frontend/src/components/MkModalWindow.vue
  packages/frontend/src/components/MkSignupDialog.vue
  packages/frontend/src/pages/announcement.vue
  packages/frontend/src/pages/miauth.vue
  packages/frontend/src/pages/oauth.vue
  packages/frontend/src/pages/settings/accounts.vue
  packages/misskey-js/package.json
Labels: packages/frontend, packages/misskey-js
